/* GLOBAL RESET */
*,*::before,*::after{margin:0;padding:0;box-sizing:border-box}
html{font-size:16px}
body{font-family:"Segoe UI",sans-serif;color:#333;line-height:1.5}

header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#top-left-nav {
    display: flex;
    align-items: center;
}

#top-right-nav {
    display: flex;
    align-items: center;
}

#top-left-nav > ul,
#top-right-nav > ul{
    display: flex;
    gap: 1%;
}

.list-item > a {
    text-decoration: none;
    color: black;
}